In [8]:
import pandas as pd

In [5]:
cma_names = pd.read_csv("cma_names.csv")

In [9]:
cma_names.head()

,Virtual ID,New Virtual,Company Name,Compant Type,Agreement Since,Unit,Zone,CAM Name,CAM Mobile,CGM Name,...,ERM Name.1,ERM Number.1,ERM Name.2,ERM Number.2,ERM Name.3,ERM Number.3,ERM Name.4,ERM Number.4,ERM Name.5,ERM Number.5
0,8784700.0,1085354364,SOFTWARE SHOP LIMITED,2020 Company,NaN,Key,Key 4,Ashraful Amin,1.926662e+09,Md Arifur Rahman,...,Sayed Mushfiqul Islam,1.404446e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2750710.0,1085340946,ABUL KHAIR GROUP,2020 Company,NaN,CTG,CTG South,Abu Saly Mohammad Shanur,1.962401e+09,Syed Salahuddin Israr,...,Adnan Ahmed,1.404446e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1227090.0,1085327710,NITOL MOTORS LTD.,2020 Company,NaN,Key,Key 1,Md Zabir Pasha,1.939901e+09,S M Fahdzzaman,...,Sadia Afnan,1.404446e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13471181.0,1085338238,DOTLINES BANGLADESH LIMITED,2021 Company,NaN,Key,Key 2,Md Israfil Khan,1.924401e+09,A N M Saleh Akram,...,Bulbul Ahmed,1.404446e+09,MD. Abu Sayed,1.404446e+09,NaN,NaN,NaN,NaN,NaN,NaN
4,5789632.0,1085328997,ARISTOPHARMA LIMITED,2020 Company,NaN,Key,Key 1,S M Rasheduzzahan,1.962400e+09,S M Fahdzzaman,...,Md Rakibul Islam,1.404446e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN